<!DOCTYPE html>
<html lang="en" th:replace="mainTemplate.html :: layout" xmlns:th="http://www.w3.org/1999/xhtml">


<div th:fragment="content">

    <div class="container mt-4">

        <h2>Usuarios</h2>

        <a th:href="@{/usuarios/nuevo}" class="btn btn-success mb-3">
            Registrar Usuario
        </a>

        <table class="table table-bordered">

            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="u : ${usuarios}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.tipo}"></td>
                <td th:text="${u.estado}"></td>

                <td>

                    <a th:href="@{/usuarios/editar/{id}(id=${u.id})}"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a th:href="@{/usuarios/eliminar/{id}(id=${u.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar usuario?')">
                        Eliminar
                    </a>

                </td>

            </tr>

            </tbody>
        </table>

    </div>

</div>
</html>