<!DOCTYPE html>
<html lang="en" th:replace="mainTemplate.html :: layout" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="content">

    <div class="container mt-4">

        <h2 class="mb-4">Listado de Libros</h2>

        <a th:href="@{/libros/nuevo}" class="btn btn-success mb-3">
            Registrar Libro
        </a>

        <table class="table table-bordered table-striped">

            <thead class="table-dark">
            <tr>
                <th>ISBN</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="libro : ${libros}">
                <td th:text="${libro.isbn}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.autor}"></td>
                <td th:text="${libro.editorial}"></td>
                <td th:text="${libro.cantDisponible}"></td>

                <td>

                    <a th:href="@{/libros/editar/{isbn}(isbn=${libro.isbn})}"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a th:href="@{/libros/eliminar/{isbn}(isbn=${libro.isbn})}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Seguro de eliminar?')">
                        Eliminar
                    </a>

                </td>
            </tr>

            </tbody>

        </table>

    </div>

</div>
</html>